@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");

.navbar {
  display: flex;
  padding-left: 88px;
  padding-right: 88px;
  background-color: #1f2937;
  justify-content: space-between;
  align-items: center;
}

.logo {
  color: #f9faf8;
  font-size: 24px;
  font-weight: bold;
  padding: 22px;
}

li {
  padding: 22px;
  color: #e5e7eb;
  font-size: 18px;
  float: left;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  margin: 0;
  font-family: "Roboto";
}

.hero-main {
  font-size: 48px;
  color: #f9faf8;
  font-weight: bolder;
}

.hero-second {
  font-size: 18px;
  color: #f9faf8;
}

.button {
  background-color: #3882f6;
  border: none;
  color: white;
  padding: 8px;
  width: 100px;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  border-radius: 8px;
}

.main {
  background-color: #1f2937;
  align-items: space-between;
  display: flex;
  padding-left: 88px;
  padding-right: 88px;
  min-height: 650px;
  max-height: 650px;
}
